/* Reset and base styles */
body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-image: url('a5bg.png');
    background-repeat: repeat;
  }
  
  h1 {
    font-weight: normal;
    padding: 1em;
    font-size: 2em;
  }
  
  nav {
    display: flex;
    background-color: #001a66;
    padding: 0;
    margin: 0;
  }
  
  nav a {
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1em 0;
    background-color: #001a66;
    font-family: Helvetica, Arial, sans-serif;
    border-right: 1px solid white;
  }
  
  nav a:last-child {
    border-right: none;
  }
  
  nav a:hover {
    background-color: white;
    color: #001a66;
  }
  
  main {
    background-color: white;
    padding: 2em;
    margin: auto;
    max-width: 1000px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  
  h2 {
    font-weight: bold;
    border-bottom: 3px solid black;
    padding-bottom: 0.3em;
  }
  
  p {
    text-align: justify;
    line-height: 1.5;
  }
  
  p a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  p a:hover {
    color: red;
    text-decoration: underline;
  }
  
  footer {
    background-color: #001a66;
    color: white;
    border: 3px solid white;
    padding: 1.5em;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    max-width: 1000px;
    margin: 2em auto 0 auto;
  }